$primary: hsla(164, 52%, 47%, 1);
$primary-bright: hsla(133, 61%, 77%, 1);
$primary-fade: hsla(151, 27%, 63%, 1);
$background: hsla(54, 45%, 87%, 1);
$secondary: hsla(43, 100%, 67%, 1);
$tertiary: hsla(0, 100%, 70%, 1);
$purple: hsla(264, 100%, 73%, 1);
$blue: hsla(195, 100%, 70%, 1);
$pink: hsla(300, 100%, 73%, 1);
$indigo: hsla(240, 100%, 73%, 1);